/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.dash-container{
    background-color: aquamarine;
}
.dash{
    display: grid;
    grid-template-columns: 20% 80%;
   
}
.dash-left{
    background-color: #041331;

}
.dash-right{
    background-color: #7c818b;
}
.we{
    width: 40%;
 
}
.as{
    padding: 2rem;
    color: darkcyan;
}
.we img{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    border-radius: 50%;
}
.linky{

    display: flex;
    gap: 5rem;
    flex-direction: column;
    padding: 2rem;
    list-style: none;
    font-size: 1.4rem;
    font-style: italic;
}
.linka{
    text-decoration: none;
    color: #ddd;
}
.linka:hover{
    color: rgb(112, 192, 112);
}
 .btn{
    background-color: #7c818b;
    padding: 1rem 2rem;
    width: 100%;
} */