 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.dash-container{
    background-color: aquamarine;
}
.dash{
    display: grid;
    grid-template-columns: 20% 80%;
   
}
.dash-left{
    background-color: #041331;

}
.dash-right{
    background-color: #161414;
    padding: 2rem;
}
.we{
    width: 40%;
 
}
.as{
    padding: 2rem;
    color: darkcyan;
}
.we img{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    border-radius: 50%;
}
.linky{

    display: flex;
    gap: 5rem;
    flex-direction: column;
    padding: 2rem;
    list-style: none;
    font-size: 1.4rem;
    font-style: italic;
}
.linka{
    text-decoration: none;
    color: #ddd;
}
.linka:hover{
    color: rgb(112, 192, 112);
}
table{
    width: 100%;
    padding: 1rem;
    border-collapse: collapse;
    border-color: #041331;

   
}
.pro{
    display: flex;
    gap: 4rem;
    justify-content: space-around;
}

.rows{
    text-align: center;
   
}
.rows td{
    padding: 2rem;
    color: rgb(115, 230, 153);
}


.table{
    background-color: #041331;
padding: 2rem 3rem;
color: #ddd;
gap: 2rem;
justify-content: center;
font-size: 1.3rem;
align-items: center;

}
.loss{
    background-color: #7c818b;
    width: fit-content;
    display: flex;
    justify-content: center;
}
.view{
    justify-content: center;
    display: flex;
    padding: 2rem;
    font-size: 1.7rem;
}
 .btn{
    background-color: #7c818b;
    padding: 1rem 8rem;
    width: 100%;

}
.hi{
    display: flex;
   gap:.8rem
}
.ab-i{
    display: flex;
    gap:.8rem
}
.wallet{
    display: flex;
    gap:.8rem
}
.sett{
    display: flex;
    gap:.8rem
}
.ana{
    display: flex;
    gap:.8rem
}
.help{
    display: flex;
    gap:.8rem
}
.policy{
    display: flex;
    gap:.8rem
}
.card{
    background-color: #041331;
    color: #ddd;
   padding: 3rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

}
.card h3{
    font-size: 1.8rem;
    font-weight: 900;
    font-style: italic;
}
.card p{
    font-size: 1.4rem;
    color: rgb(117, 172, 117);
}
.cards{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 3rem;
    padding: 2rem;
    justify-content: center;
}
.fre{
    color: rgb(85, 161, 161);
    padding: 1rem;
}

/* ---------------------------booking form--------------------- */

body{
    background-color: #fce7e7;
}
.form-cont{
display: flex;
flex-direction: column;
    justify-content: center;
    width: fit-content;
    gap: 1rem;
    width: 100%;
    padding: 3rem;
    align-items: center;
    background-color: #b1b2b3;
}
form{
    display: flex;
    justify-content:center ;
    /* padding: 2rem; */
}
.form-cont input{
    padding: .8rem 9rem;
    width: 70%;
    
}
.sub{
    padding: .8rem 5rem;
    background-color: #ee5e32;
    color: #ddd;
    border: none;
    font-size: 1rem;
    border-radius: .3rem;
}
.form-cont label{
    font-size: 1.4rem;
    font-style: italic;
    color: #fffcfb;
}
.image{
    width: 100%;
}
.image img{
    width: 100%;
    height: 100%;
}
.booking-container{
    display: flex;
    padding: 1rem;
   
}
.check-in{
    padding: .8rem 9rem;
    width: 70%;
}
.check{
    padding: .8rem 9rem;
    width: 70%;
}